.THIS .box-make{
    width : 25%;
    min-width : 230px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    position : relative;
    left : 15px;
    color : white;
}
.THIS .box-green{
    background : #2ECBBE;
    margin-top : 10px;
}
.THIS .box-yellow{
    background : #F7B64B;
}
.THIS .box-purple{
    background : #001A7B;
}
.THIS .box-blue{
    background : #62B7ED;
}
.THIS .box-blueL0{
    background : #4e92bd;
}
.THIS .box-blueL1{
    background : #a6c8de;
}
.THIS .box-blueL2{
    background : #62B7ED;
}
.THIS .box-blueL5{
    background : #4091c4;
}
.THIS div.label:hover{
    background:transparent !important;
}
.THIS div.label{
    padding-bottom:15px;
}
.THIS .font-size--12{
    font-size:12px;
}
.THIS .margin-top--8{
    margin-top:8px;
}
.THIS .box-make .tooltip {
    position: relative;
    display: inline-block;
}

.THIS .tooltip .tooltiptext {
    /*visibility: hidden;
    width: 200px;
    background-color: #16325C;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    
    top: -5px;
    left: 179%;*/
    visibility: hidden;
    width: 300px;
    z-index: 1;
    position: absolute;
    
    margin-top :-115px;
    text-align: left;
    border: 1px solid #8c8c8c;
    background: #f4f4f4;
    padding: 10px 12px;
    font-size: 16px;
    font-style: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 4px 4px 4px #d9b3c3;
    -moz-box-shadow: 4px 4px 4px #d9b3c3;
    box-shadow: 4px 4px 4px #d9b3c3;
    color: #000000;

}
.THIS .tooltiptextAll{
    left: 120%;
}
.THIS .tooltiptextL5{
    left: 95%;
}

.THIS .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.THIS .tooltip:hover .tooltiptext {
    visibility: visible;
}