.THIS .tooltip {
    position: relative;
    display: inline-block;
}

.THIS .tooltip:hover .tooltiptext {
    visibility: visible;
}

.THIS .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    z-index: 1;
    left: 50%;
    margin-top :-50px;
    text-align: left;
    border: 1px solid #8c8c8c;
    background: #f4f4f4;
    padding: 10px 12px;
    font-style: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #000000;
}

.THIS .tooltip .tooltiptext::after {
    content: "";
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent black transparent transparent;
}