.THIS .componentLoading {
	position: relative;
	height: 50px;
}

.THIS .signal {
    border: 5px solid #4f6a92;
    border-radius: 10px;
    height: 20px;
    left: 50%;
    top: 0px;
    margin-left: -10px;
    opacity: 0;
    position: absolute;
    width: 20px;
 
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

.THIS .loadingText {
  position: absolute;
  top: 30px;
  text-align: center;
  width: 100%;
}

@keyframes pulsate {
    0% {
      transform: scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
}

.THIS .spinner {
  display: inline-block;
  height: 10px;
  width: 10px;
  animation: rotate 0.8s infinite linear;
  border: 2px solid #4f6a92;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}