.THIS .myStyle {
  border: 1px solid #dce4ec;
  border-radius: 4px;
}
.THIS .hide{
    display:none;
}
.THIS .font-size--13px{
    font-size : 13px;
}
.THIS .uiInputDateTime .datePicker-openIcon {
   position: absolute;
}

.THIS .uiInputDateTime .timePicker-openIcon {
   position: absolute;
    left: 95%;
    top: 70%;
}

.THIS .uiInputDefaultError li {
  list-style: none;
}