.THIS {
    width: 100%;
    padding: 8px;
}

.THIS .height--36{
    height: 36px;
}

.THIS .width--100{
    width: 100%;
}

.THIS input {
    width: 100%;
    padding: 8px;
    -webkit-appearance: none;
    border: solid 1px #dddddd;
}