.THIS {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.THIS li {
    border-bottom: solid 1px #DDDDDD;
    padding: 8px;
}

.THIS p {
    margin: 4px;
}

.THIS .invisible{
    display:none;
}
.THIS .warningMessageClass{   
    display:block;
    background-color:#e8cc6f ;
    text-align:center ;
    color: black;   
    height:25px;
}
.THIS .warningText{
    color: #d2a40c ;
    
}
.THIS .errorMessageClass{   
    display:block;
    background-color:#f34c4c ;
    text-align:center ;
    color: black;   
    height:42px;
}