.THIS {
    width: 100%;
    padding: 8px;
}

.THIS .height--36{
    height: 28px;
}

.THIS .width--78{
    width: 37%;
}

.THIS input {
    width: 100%;
    padding: 8px;
    -webkit-appearance: none;
    border: solid 1px #dddddd;
}