.THIS .tree, .THIS .tree ul {
  margin:0 0 0 1em; /* indentation */
  padding:0;
  list-style:none;
  color:#369;
  position:relative;
  transition: 0.3s;
  opacity: 1;
  height: 100%;
}

.THIS .tree ul.collapsed {
    opacity: 0;
    height: 0px;
    overflow: hidden;
}

.THIS .tree ul {
	margin-left:.5em
}

.THIS .tree:before, .THIS .tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px dotted #999;
}

.THIS .tree li {
  margin:0;
  padding:0 1.5em; /* indentation + .5em */
  position:relative;
}

.THIS div.label {
  transition: background 1s;
}

.THIS div.label a {
  transition: padding 0.5s;
  color : white;
}

.THIS div.label:hover {
  background: #FFF;
}

.THIS div.label:hover a {
  padding-left: 10px;
}
.THIS .tree li:before {
  content:"";
  display:block;
  width:10px; /* same with indentation */
  height:0;
  border-top:1px dotted #999;
  margin-top:-1px; /* border top width */
  position:absolute;
  top:1em; /* (line-height/2) */
  left:0;
}

.THIS .tree li:last-child:before {
  background:transparent; /* same with body background */
  height:auto;
  top:1em; /* (line-height/2) */
  bottom:0;
}