.THIS {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.THIS li {
    border-bottom: solid 1px #DDDDDD;
    padding: 8px;
}

.THIS p {
    margin: 4px;
}

.THIS .invisible{
    display:none;
}
.THIS .errorMessageClass{   
    display:"";
    background-color:red ;
    text-align:center ;
    color: black;   
    height:25px;
}