<apex:page standardController="Campaign" extensions="AddContactsToCampaignController" sidebar="false" showHeader="false" applyBodyTag="false" docType="html-5.0">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> 
        <head>
          <apex:stylesheet value="{!URLFOR($Resource.LDS_0_12_1, 'assets/styles/salesforce-lightning-design-system-vf.css')}" /> 
        </head>
        <body>
        <div class="slds">

        <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
        <apex:includescript value="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" />
        <apex:stylesheet value="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css" />
        
        <script>
            
        function loadTable(){
            $('table.contacttable1').dataTable();
        }
        </script>
        <apex:pagemessages >
        </apex:pagemessages>
        
        <apex:form >
            <apex:pageblock mode="maindetail">
                <apex:pageblockSection columns="1">
                    <apex:pageblocksectionitem >
                        <apex:outputText value="Report Name" style="font-weight: bold;color: #4a4a56;font-family:Salesforce Sans, Arial, sans-serif;font-size: 91%"/>
                        <apex:actionRegion >
                            <apex:selectList value="{!selectedReportName}" multiselect="false" size="1">
                                <apex:actionSupport event="onchange" action="{!renderFilters}" rerender="FieldFiltersSection,getContactsPanel" />
                                <apex:selectOptions value="{!allReportNames}"/>
                            </apex:selectList>
                        </apex:actionRegion>  
                    </apex:pageblocksectionitem>            
                </apex:pageblockSection>
                
                <apex:outputPanel id="FieldFiltersSection">
                    <apex:actionRegion >
                        <apex:pageblocksection columns="1">                         
                            <apex:repeat value="{!fieldFiltersMap}" var="fieldToBeRendered">                                
                                <apex:inputText value="{!sObjectInstance[fieldToBeRendered]}" rendered="{!fieldFiltersMap[fieldToBeRendered]}"/>
                                <apex:inputField value="{!sObjectInstance[fieldToBeRendered]}" rendered="{!!(fieldFiltersMap[fieldToBeRendered])}"/>
                            </apex:repeat>                          
                        </apex:pageblocksection>                
                    </apex:actionRegion>              
                </apex:outputPanel>
                <br/>
                
                <apex:outputPanel id="getContactsPanel">
                    <apex:pageblockSection >
                        <apex:pageblocksectionitem >
                            <apex:variable var="na" value="{!Campaign.name}"/>
                            <apex:commandButton rendered="{!IF(selectedReportName!=null && selectedReportName!='', true, false)}" id="getContactsButton" oncomplete="loadTable();" value="Get Contacts" action="{!getContactDetails}" reRender="detailInfo, AddToCampaignSection"/>
                        </apex:pageblocksectionitem>
                    </apex:pageblockSection>
                </apex:outputPanel>
                <apex:pageblockSection id="detailInfo">
                    <apex:pageBlockTable rendered="{!HasContacts}" value="{!selectedContactList}" var="selectCon" styleClass="contacttable1">
                        <apex:column headerValue="">
                            <apex:inputCheckbox value="{!selectCon.selected}"/>
                        </apex:column>
                        <apex:column value="{!selectCon.con.name}"/>
                        <apex:column value="{!selectCon.con.email}"/>                    
                        <apex:column value="{!selectCon.con.account.name}"/>
                        <apex:column value="{!selectCon.con.phone}"/>
                    </apex:pageBlockTable>
                </apex:pageblockSection>
                <br/>
                <apex:outputPanel id="AddToCampaignSection">
                    &nbsp;<apex:outputText value="Add with Status"  rendered="{!HasContacts}"/>
                    <apex:selectList value="{!selectedMemberStatus}" multiselect="false" size="1" rendered="{!HasContacts}">
                        <apex:selectOptions value="{!allMemberStatus}"/>
                    </apex:selectList>
                    <br/><br/>
                    &nbsp;<apex:commandButton value="Add Selected To Campaign" action="{!addSelectedContactsToCampaign}" rendered="{!HasContacts}"/>&nbsp;&nbsp;&nbsp;
                    <apex:commandButton value="Add All To Campaign" action="{!addAllContactsToCampaign}" rendered="{!HasContacts}"/>
                </apex:outputPanel>
                
            </apex:pageblock>
        </apex:form>
        </div>
        </body>
    </html>  

</apex:page>