<apex:page controller="PickListDescController"
    contentType="application/html" showHeader="false" sidebar="false"
    standardStylesheets="false">
    <apex:form >
        <apex:inputField value="{!sobj[ParpickListFieldName]}" />
        <apex:inputField value="{!sobj[pickListFieldName]}" />
        <!-- <apex:inputField value="{!sobj[GParpickListFieldName]}" /> --> 
    </apex:form>
</apex:page>