<apex:page standardController="Contact" extensions="TaxiReportController" showHeader="false"  sidebar="false" >
    
    <style type="text/css">        

        #row {
            overflow-y: hidden;
            width: 100%;        
            border-bottom: 1px dotted black;
        }
        
        #left-col {
            float:left;
            width: 49%;
        }
        
        #right-col {
            float:right;
            width: 49%;
        }
        
        
        body { font-family:Arial, Helvetica, sans-serif;}
        
        th {text-align:left; vertical-align:bottom; font-weight:bold;}
        h1 {text-align:left; vertical-align:bottom; font-size:1.5em; font-weight:bold;}
        h2 {text-align:left; vertical-align:bottom; font-size:1.3em; font-weight:bold; margin-top:2em;}
        h3 {text-align:left; vertical-align:bottom; font-size:1.1em; font-weight:bold; margin-top:1em;} 
         
        
        .colsHeader { border-top: 1px solid black; border-bottom: 1px dotted black; margin-right:10em;}
        .colsHeaderNum { border-top: 1px solid black; border-bottom: 1px dotted black; text-align:right; margin-right:10em;}
        .colsData { border-bottom: 1px dotted black; margin-right:10em;}
        .colsDataNum { border-bottom: 1px dotted black; text-align:right; margin-right:10em;}
       
    </style>
    <div style="overflow:scroll; -webkit-overflow-scrolling:touch; width:98%;"> <!-- Must have this to enable scrolling on iPhone -->
        
        <div class="header">
            <h1>Taxi Report</h1>
            <h1>{!TheAccount.Name}<br/>({!TheContact.FirstName} {!TheContact.LastName})</h1>
        </div>  
      
       
        <div class="content" style="width:100%;">
        <apex:outputPanel >
            <h2>Company Details</h2>
            <hr/>
            <div id="row">
                <div id="left-col">
                    <apex:outputLabel value="Address" />        
                </div>
                <div id="right-col">
                    <apex:outputText style="{!if(TheAccount.Billing_Street_Line_1__c==null,'display: none','')}">{!TheAccount.Billing_Street_Line_1__c + if(TheAccount.Billing_Street_Line_1__c == null, '', ' ') + TheAccount.Billing_Street_Line_2__c + if(TheAccount.Billing_Street_Line_2__c == null, '', ' ') + TheAccount.Billing_Street_Line_3__c}</apex:outputText>
                    <apex:outputText escape="false" style="{!if(TheAccount.Billing_Street_Line_1__c!=null && TheAccount.Billing_City__c!=null,'','display: none')}">,<br/></apex:outputText>
                    <apex:outputText style="{!if(TheAccount.Billing_City__c==null,'display: none','')}">{!TheAccount.Billing_City__c}</apex:outputText>
                    <apex:outputText escape="false" style="{!if((TheAccount.Billing_Street_Line_1__c!=null || TheAccount.Billing_City__c!=null) && TheAccount.Billing_State__c!=null,'','display: none')}">,<br/></apex:outputText>
                    <apex:outputText style="{!if(TheAccount.Billing_State__c==null,'display: none','')}">{!TheAccount.Billing_State__c}</apex:outputText>
                    <apex:outputText escape="false" style="{!if((TheAccount.Billing_Street_Line_1__c!=null || TheAccount.Billing_City__c!=null || TheAccount.Billing_State__c!=null) && TheAccount.Billing_PostalCode__c!=null, '','display: none')}"><br/></apex:outputText>
                    <apex:outputText style="{!if(TheAccount.Billing_PostalCode__c==null,'display: none','')}">{!TheAccount.Billing_PostalCode__c}</apex:outputText>
                    <apex:outputText escape="false" style="{!if((TheAccount.Billing_Street_Line_1__c!=null || TheAccount.Billing_City__c!=null || TheAccount.Billing_State__c!=null || TheAccount.Billing_PostalCode__c!=null) && TheAccount.Billing_Country__c != null, '','display: none')}"><br/></apex:outputText>
                    <apex:outputText style="{!if(TheAccount.Billing_Country__c==null,'display: none','')}">{!TheAccount.Billing_Country__c}</apex:outputText>                    
                </div>
            </div>
            <div id="row">
                <div id="left-col">
                    <apex:outputLabel value="{!$ObjectType.Account.Fields.Phone.Label}" />   
                </div>
                <div id="right-col">
                    {!TheAccount.Phone}
                </div>
            </div>
            <div id="row">
                <div id="left-col">
                    <apex:outputLabel value="{!$ObjectType.Account.Fields.FCA_Number__c.Label}" />   
                </div>
                <div id="right-col">
                    {!TheAccount.FCA_Number__c}
                </div>
            </div>
            <div id="row">
                <div id="left-col">
                    <apex:outputLabel value="{!$ObjectType.Account.Fields.Current_AUM_Roll_up__c.Label}" />   
                </div>
                <div id="right-col">
                    <apex:outputText value="£{0, number,###,###,###,###,##0}" style="{!if(DummyForTots.Current_AUM__c==null,'display: none','')}">
                        <apex:param value="{!ROUND(DummyForTots.Current_AUM__c, 0)}"/>
                    </apex:outputText>
                </div>
            </div>   
        </apex:outputPanel>
        
        
        <apex:outputPanel >
        <h2>Company Details</h2>
            <hr/>
            <div id="row">
                <div id="left-col">
                    <apex:outputLabel value="Address" />        
                </div>
                <div id="right-col">
                    <apex:outputText style="{!if(TheAccount.Billing_Street_Line_1__c==null,'display: none','')}">{!TheAccount.Billing_Street_Line_1__c + if(TheAccount.Billing_Street_Line_1__c == null, '', ' ') + TheAccount.Billing_Street_Line_2__c + if(TheAccount.Billing_Street_Line_2__c == null, '', ' ') + TheAccount.Billing_Street_Line_3__c}</apex:outputText>
                    <apex:outputText escape="false" style="{!if(TheAccount.Billing_Street_Line_1__c!=null && TheAccount.Billing_City__c!=null,'','display: none')}">,<br/></apex:outputText>
                    <apex:outputText style="{!if(TheAccount.Billing_City__c==null,'display: none','')}">{!TheAccount.Billing_City__c}</apex:outputText>
                    <apex:outputText escape="false" style="{!if((TheAccount.Billing_Street_Line_1__c!=null || TheAccount.Billing_City__c!=null) && TheAccount.Billing_State__c!=null,'','display: none')}">,<br/></apex:outputText>
                    <apex:outputText style="{!if(TheAccount.Billing_State__c==null,'display: none','')}">{!TheAccount.Billing_State__c}</apex:outputText>
                    <apex:outputText escape="false" style="{!if((TheAccount.Billing_Street_Line_1__c!=null || TheAccount.Billing_City__c!=null || TheAccount.Billing_State__c!=null) && TheAccount.Billing_PostalCode__c!=null, '','display: none')}"><br/></apex:outputText>
                    <apex:outputText style="{!if(TheAccount.Billing_PostalCode__c==null,'display: none','')}">{!TheAccount.Billing_PostalCode__c}</apex:outputText>
                    <apex:outputText escape="false" style="{!if((TheAccount.Billing_Street_Line_1__c!=null || TheAccount.Billing_City__c!=null || TheAccount.Billing_State__c!=null || TheAccount.Billing_PostalCode__c!=null) && TheAccount.Billing_Country__c != null, '','display: none')}"><br/></apex:outputText>
                    <apex:outputText style="{!if(TheAccount.Billing_Country__c==null,'display: none','')}">{!TheAccount.Billing_Country__c}</apex:outputText>                    
                </div>
            </div>
            <div id="row">
                <div id="left-col">
                    <apex:outputLabel value="{!$ObjectType.Account.Fields.Phone.Label}" />   
                </div>
                <div id="right-col">
                    {!TheAccount.Phone}
                </div>
            </div>      
        </apex:outputPanel>
        </div>
        
        
        <div class="content" style="width:101%;"> <!-- Must be more than 100% to make vertical scrolling work on iPhone.  go figure -->    
            <h2>Key Contacts</h2> 
            <p style="{!if (hasKeyContacts, 'display: none;', '')}">No Primary or Key Contacts Defined</p>
            <apex:dataTable headerClass="colsHeader" value="{!KeyContacts}" var="con" cellspacing="0" cellpadding="3em" style="{!if (hasKeyContacts, '', 'display: none;')}">
    
                <apex:column styleClass="colsData" style="width:39%;">
                    <apex:facet name="header">Name</apex:facet>
                    <span style="{!if(con.Primary_Contact__c,'vertical-align:top;font-weight: bold;','vertical-align:top;')}">{!con.lastName + ', ' + con.Preferred_Name__c} </span>
                    <span style="{!if(con.LeftCompany__c,'','display:none')}">(Previous Employee)</span>
                </apex:column>
                <apex:column styleClass="colsData" style="width:49%">
                    <apex:facet name="header">Details</apex:facet>
                    <apex:outputField value="{!con.Title}" style="{!if(con.Title!=null,'','display:none')}"/>
                    <br style="{!if(con.Title!= null,'','display:none')}"/>
                    <apex:outputField value="{!con.Phone}" style="{!if(con.Phone!=null,'','display:none')}"/>
                    <br style="{!if(con.Email != null && (con.Title!= null || con.Phone!=null),'','display:none')}"/>
                    <apex:outputField value="{!con.Email}" style="{!if(con.Email!=null,'','display:none')}"/>
                </apex:column>

            </apex:dataTable>
        </div>
        
        
        <div class="content" style="width:101%;">
            
            <h2 style="{!if(hasRecentEvents || hasFutureEvents || hasPrevCompanyEvents,'', 'display: none')}">Events</h2>            
            <hr style="{!if(hasRecentEvents || hasFutureEvents || hasPrevCompanyEvents,'', 'display: none')}"/>
            
            <h3 style="{!if (hasRecentEvents, '', 'display: none;')}">Recent</h3>
            <apex:dataTable headerClass="colsHeader" value="{!TheRecentEvents}" var="item" cellspacing="0" cellpadding="3em" style="{!if (hasRecentEvents, '', 'display: none;')}">
                <apex:column headerClass="colsHeader" styleClass="colsData" style="width:15%">
                    <apex:facet name="header">Start Date</apex:facet>
                    <apex:outputText value="{0,date,dd'/'MM'/'yyyy}" >
                        <apex:param value="{!item.StartDateTime}" />
                    </apex:outputText>                          
                </apex:column>  
                
                <apex:column headerClass="colsHeader" styleClass="colsData" style="width:25%">
                    <apex:facet name="header">Attendee</apex:facet>
                    <apex:outputText value="{!RecentEventContactsMap[item.id].firstName + ' ' + RecentEventContactsMap[item.id].lastName}"/>  
                    <span style="{!if(RecentEventContactsMap[item.id].LeftCompany__c,'','display:none')}">(Previous Employee)</span>
                </apex:column>     
                
                <apex:column headerClass="colsHeader" styleClass="colsData">
                    <apex:facet name="header">{!$ObjectType.Event.Fields.Subject.Label}</apex:facet>
                    <apex:outputText value="{!item.Subject}"/>                      
                </apex:column>                 
            </apex:dataTable> 
        </div>
        
        <div class="content" style="width:101%;">
            <h3 style="{!if (hasFutureEvents, '', 'display: none;')}">Future</h3>
            <apex:dataTable headerClass="colsHeader" value="{!TheFutureEvents}" var="item" cellspacing="0" cellpadding="3em" style="{!if (hasFutureEvents, '', 'display: none;')}">
                <apex:column headerClass="colsHeader" styleClass="colsData" style="width:15%">
                    <apex:facet name="header">Start Date</apex:facet>
                    <apex:outputText value="{0,date,dd'/'MM'/'yyyy}" >
                        <apex:param value="{!item.StartDateTime}" />
                    </apex:outputText>                          
                </apex:column>  
                
                <apex:column headerClass="colsHeader" styleClass="colsData" style="width:25%">
                    <apex:facet name="header">Attendee</apex:facet>
                    <apex:outputText value="{!FutureEventContactsMap[item.id].firstName + ' ' + FutureEventContactsMap[item.id].lastName}"/> 
                    <span style="{!if(FutureEventContactsMap[item.id].LeftCompany__c,'','display:none')}">(Previous Employee)</span>
                </apex:column>      
                
                <apex:column headerClass="colsHeader" styleClass="colsData">
                    <apex:facet name="header">{!$ObjectType.Event.Fields.Subject.Label}</apex:facet>
                    <apex:outputText value="{!item.Subject}"/>                      
                </apex:column>                     
                
            </apex:dataTable>
     
        </div>
        
        <div class="content" style="width:100%;">
            <apex:outputPanel >
            <h2>Company Profile</h2>
            <div id="row">
                <div id="left-col">
                    <apex:outputLabel value="{!$ObjectType.Account.Fields.Total_AUM_in_Hierarchy__c.Label}" />        
                </div>
                <div id="right-col">
                    <apex:outputText value="£{0, number,###,###,###,###,##0}" style="{!if(TheAccount.Total_AUM_in_Hierarchy__c==null,'display: none','')}">
                        <apex:param value="{!TheAccount.Total_AUM_in_Hierarchy__c}"/>
                    </apex:outputText>
                </div>
            </div>
            <div id="row">
                <div id="left-col">
                    <apex:outputLabel value="{!$ObjectType.Account.Fields.Influenceable__c.Label}" />        
                </div>
                <div id="right-col">
                    <apex:outputText value="{!TheAccount.Influenceable__c}"/>
                </div>
            </div>
            <div id="row">
                <div id="left-col">
                    <apex:outputLabel value="{!$ObjectType.Account.Fields.Asset_Allocation_Method__c.Label}" />        
                </div>
                <div id="right-col">
                    <apex:outputText value="{!TheAccount.Asset_Allocation_Method__c}"/>
                </div>
            </div>
            <div id="row">
                <div id="left-col">
                    <apex:outputLabel value="{!$ObjectType.Account.Fields.Asset_Allocation_Individual__c.Label}" />        
                </div>
                <div id="right-col">
                    <apex:outputText value="{!TheAccount.Asset_Allocation_Individual__r.firstName} {!TheAccount.Asset_Allocation_Individual__r.lastName}"/>
                </div>
            </div>
            
            <div id="row">
                <div id="left-col">
                    <apex:outputLabel value="FSU Reviewed" />        
                </div>
                <div id="right-col">
                    <apex:outputText value="{!fsuReviewed}"/>
                </div>
            </div>
            <div id="row">
                <div id="left-col">
                    <apex:outputLabel value="{!$ObjectType.Account.Fields.Relationship_with_Decision_Maker__c.Label}" />        
                </div>
                <div id="right-col">
                    <apex:outputText value="{!TheAccount.Relationship_with_Decision_Maker__c}"/>
                </div>
            </div>
            <div id="row">
                <div id="left-col">
                    <apex:outputLabel value="Next FSU Review Date" />        
                </div>
                <div id="right-col">
                    <apex:outputText value="{0,date,dd'/'MM'/'yyyy}" >
                        <apex:param value="{!nextFSUReviewDate}" />
                     </apex:outputText>
                </div>
            </div>
            <div id="row">
                <div id="left-col">
                    <apex:outputLabel value="FSU Heads" />        
                </div>
                <div id="right-col">
                    <apex:outputText value="{!fsuHeads}"/>
                </div>
            </div>
            
            <div id="row">
                <div id="left-col">
                    <apex:outputLabel value="Funds On Recommended List" />        
                </div>
                <div id="right-col">
                    <apex:repeat var="fundName" value="{!fundsOnRecommendedList}"><apex:outputText style="white-space: pre-line;"  value="{!fundName}"/><br/></apex:repeat>
                </div>
            </div>
            <div id="row">
                <div id="left-col">
                    <apex:outputLabel value="{!$ObjectType.Account.Fields.Relationship_with_Operational__c.Label}" />        
                </div>
                <div id="right-col">
                    <apex:outputText value="{!TheAccount.Relationship_with_Operational__c}"/>
                </div>
            </div>
            <div id="row">
                <div id="left-col">
                    <apex:outputLabel value="Related Opportunities" />        
                </div>
                <div id="right-col">
                    <apex:repeat var="oppName" value="{!currentIPOpportunities}"><apex:outputtext value="{!oppName}"/><br/></apex:repeat>
                </div>
            </div>
            <div id="row">
                <div id="left-col"> 
                    <apex:outputLabel value="Competitor Funds" />
                </div>
                <div id="right-col">
                    <apex:repeat var="fundName" value="{!competitorFundsForClient}"><apex:outputtext style="white-space: pre-line;"  value="{!fundName}"/><br/></apex:repeat>
                </div>
            </div>
            
            <div id="row">
                <div id="left-col"> 
                    <apex:outputLabel value="Fund Selection Units" />
                </div>
                <div id="right-col">
                    <apex:repeat var="fsuName" value="{!fsuRelatedToClient}"><apex:outputtext value="{!fsuName}"/><br/></apex:repeat>
                </div>
            </div>
            <div id="row">
                <div id="left-col">
                    <apex:outputLabel value="{!$ObjectType.Account.Fields.Dealing_Method__c.Label}" />
                </div>
                <div id="right-col">
                    <apex:outputText value="{!TheAccount.Dealing_Method__c}" />
                </div>
            </div>
            </apex:outputPanel>
        </div>
        
        
        <div class="content" style="width:100%;">
            <h2 style="{!if (hasIPproducts, '', 'display: none;')}">Rated Funds</h2>
            <apex:dataTable value="{!IPproducts}" var="item" cellspacing="0" cellpadding="0" style="{!if (hasIPproducts, '', 'display: none;')}">  
                <apex:column headerClass="threeColsHeader" styleClass="threeColsData">
                    <apex:facet name="header">{!$ObjectType.Product2.Fields.Name.Label}</apex:facet>
                    <apex:outputText value="{!item.Name}"/>                          
                </apex:column>  
                
                <apex:column headerClass="threeColsHeader" styleClass="threeColsData">
                    <apex:facet name="header">{!$ObjectType.Product2.Fields.Family.Label}</apex:facet>
                    <apex:outputText value="{!item.Family}"/>   
                </apex:column>  
                
                <apex:column headerClass="threeColsHeader" styleClass="threeColsData">
                    <apex:facet name="header">{!$ObjectType.Product2.Fields.Fund_Manager_Name__c.Label}</apex:facet>
                    <apex:outputText value="{!item.Fund_Manager_Name__c}"/>                      
                </apex:column>                  
            </apex:dataTable>
        </div>
            
        <div class="content" style="width:100%;">
            <h2 style="{!if (hasExternalPanels, '', 'display: none;')}">External Fund Selection Units</h2> 
            <apex:dataTable value="{!ExternalPanels}" var="item" cellspacing="0" cellpadding="0" style="{!if (hasExternalPanels, '', 'display: none;')}">  
                <apex:column headerClass="fourColsHeader" styleClass="fourColsData">
                    <apex:facet name="header">{!$ObjectType.Client_Third_Party_Relationship__c.Fields.Third_Party_Name__c.Label}</apex:facet>
                    <apex:outputText value="{!item.client__r.name}"/>                          
                </apex:column> 
                
                <apex:column headerClass="fourColsHeader" styleClass="fourColsData">
                    <apex:facet name="header">{{!$ObjectType.Product2.Fields.Name.Label}</apex:facet>
                    <apex:outputText value="{!item.Fund__r.name}"/>                            
                </apex:column>  
                
                <apex:column headerClass="fourColsHeader" styleClass="fourColsData">
                    <apex:facet name="header">{!$ObjectType.Product2.Fields.Family.Label}</apex:facet>
                    <apex:outputText value="{!item.Fund__r.Family}"/>   
                </apex:column>  
                
                <apex:column headerClass="fourColsHeader" styleClass="fourColsData">
                    <apex:facet name="header">{!$ObjectType.Product2.Fields.Fund_Manager_Name__c.Label}</apex:facet>
                    <apex:outputText value="{!item.Fund__r.Fund_Manager_Name__c}"/>                      
                </apex:column>                                                 
            </apex:dataTable>
        </div>
        
    </div>

</apex:page>