<apex:page controller="TaxiReportController_Test_C_AMA" showHeader="false"  sidebar="false" applyBodyTag="false" >
    <apex:includeLightning />
    
      <div id="divKeyCon" />

    <script>
   window.onload = function() {  
       console.log("{!objTPClient.Business_Line__c }".search("Institutional") );
       if("{!objTPClient.Business_Line__c }".search("Institutional") > -1)
           {
                $Lightning.use("c:KeyConCoverageTeam_LA", function() {
                  $Lightning.createComponent("c:AMA_InstiClient360_Container_LCMP",{accId: '{!objTPClient.Id }'},
                  
                  "divKeyCon",
                  function(cmp) {
                    // do some stuff
                  });
                });
           }
       else
           {
                $Lightning.use("c:KeyConCoverageTeam_LA", function() {
                  $Lightning.createComponent("c:AMA_RetailClient360_Container_LCMP",{accId: '{!objTPClient.Id }'},
                  
                  "divKeyCon",
                  function(cmp) {
                    // do some stuff
                  });
                });
           
           }
    }
    
    </script>
</apex:page>