.THIS .startDateTime .uiInputDateTime .datePicker-openIcon {
    position: absolute;
    left: 72%;
    top: 38.25%;
}

.THIS .endDateTime .uiInputDateTime .datePicker-openIcon {
    position: absolute;
    left: 72%;
    top: 50%;
}

.THIS .startDateTime .uiInputDateTime .timePicker-openIcon {
    position: absolute;
    left: 97%;
    top: 38.25%;
}

.THIS .endDateTime .uiInputDateTime .timePicker-openIcon {
    position: absolute;
    left: 97%;
    top: 50%;
}

.THIS .uiInputDefaultError li {
    list-style: none;
}

.THIS .hide{
    display:none;
}